.contenedorEstAdmin {
	display: flex;
	padding: 0rem 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 3.0625rem;
	align-self: stretch;

	.contenedorFiltros {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		.celda {
			max-width: fit-content;
		}
	}
}
