.graficoBarrasData {
	.recharts-cartesian-axis-tick-value {
		fill: var(--colorPildora1); // Variable CSS para color eje X
	}

	.colorBarra {
		fill: var(--colorPildora1);

		.colorHover {
			fill: var(--colorPildora2);
		}
	}

	&.dark {
		.recharts-cartesian-axis-tick-value {
			fill: var(--dark-azul); // Variable CSS para color eje X
		}

		.colorBarra {
			fill: var(--dark-azul);

			.colorHover {
				fill: var(--dark-morado);
			}

			.labelList {
				fill: var(--dark-morado);
			}
		}

		.cartesianoGrid {
			stroke-opacity: 0.2;
		}
	}
}
