.contenedorPilaTitulo {
	display: flex;
	width: 100%;
	position: relative;
	align-items: center;

	background-color: var(--colorPildora1);
	color: var(--blanco);
	box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.75rem;
	justify-content: space-between;
	padding: 12px 0px;

	height: auto;
	min-height: 5.1875rem;
	overflow: hidden;
	text-align: center;
	flex-wrap: wrap;

	//colores
	&.morado {
		background-color: var(--colorPildora2);
	}

	&.amarillo {
		background-color: var(--colorPildora3);
	}

	.infoContainer {
		flex: 1;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 0rem 3.625rem;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		flex-wrap: wrap;

		overflow: hidden;
		//max-width: 100%;

		.nota {
			position: relative;
			text-align: center;
			width: fit-content;
			max-width: 100%;
			word-wrap: break-word;
		}

		.info {
			width: fit-content;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.0625rem;
			//min-width: 200px;

			.nombre {
				display: flex;
				justify-content: center;
				align-self: stretch;
				position: relative;
				word-wrap: break-word;
				font-size: 0.68rem;
				width: 100%;
			}

			.materia {
				display: flex;
				align-self: stretch;
				position: relative;
				word-wrap: break-word;
				width: 100%;
				justify-content: center;
			}
		}
	}

	.elipse1,
	.elipse2 {
		width: 213px;
		height: 184px;
		position: absolute;
		margin: 0;
		background-color: #ffffff;
		border-radius: 50%;
		top: calc(50% - 77.5px);
		right: -25px;
		opacity: 0.1;
	}

	.elipse2 {
		top: calc(50% - 23.5px);
		right: 67px;
		opacity: 0.05;
	}
}

.dark {
	.contenedorPilaTitulo {
		background-color: var(--dark-azul);

		color: var(--dark-blanco);

		//colores
		&.morado {
			background-color: var(--dark-morado);
		}

		&.amarillo {
			background-color: var(--dark-amarillo);
		}

		.elipse1,
		.elipse2 {
			background-color: var(--dark-blanco);
		}
	}
}
