@import '../../variables.scss';

.materiasGrados{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    align-self: stretch;
    flex-wrap: wrap;
}

@media screen and (max-width: $max-celular){
    .materiasGrados{
        justify-content: center;}
}
    