@use '../../variables.scss' as *;

.layautMateriasGrados {
	display: flex;

	width: 100%;
}
.layautMateriasGradosColumn {
	padding: 0 0.6rem;
}

.layautMateriasGradosColumn > div {
	margin-bottom: 1rem;
}

@media screen and (max-width: $max-celular) {
	.materiasGrados {
		justify-content: center;
	}
}
