@import '../../variables.scss';


.layautMateriasGrados{

    display: flex;

    width: 100%;
}
.layautMateriasGradosColumn {
    padding: 0 0.6rem; /* gutter size */

}

.layautMateriasGradosColumn > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 1rem;
}

@media screen and (max-width: $max-celular){
    .materiasGrados{
        justify-content: center;}
}
    