@use '../../../variables.scss' as *;
.contenedorAsignarGradosMaterias {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	align-self: stretch;

	.crear {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.625rem;
		align-self: stretch;

		.formulario {
			display: flex;
			width: 100%;
			max-width: 100%;
			padding: 1.5rem 0rem;
			flex-direction: column;
			align-items: center;
			gap: 2.25rem;

			.selectorGrado,
			.selecciones {
				display: flex;
				width: 100%;
				max-width: 100%;
				justify-content: flex-start;
				padding: 1rem 0;
				gap: 3rem;
				flex-wrap: wrap;

				.selector,
				.seleccion {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					min-width: 10rem;
					flex-grow: 1;
					max-width: 45%;
				}
			}

			button {
				width: auto;
			}
		}
	}

	.lista {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem;
		align-self: stretch;
		// min-height: 20rem;

		.informacion {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.5rem;
			align-self: stretch;

			.filtros {
				display: flex;
				width: 100%;
				align-items: flex-end;
				gap: 2.75rem;
				align-self: stretch;
				flex-wrap: wrap;

				.custom-select {
					width: 50%;
					min-width: 12.5rem;
					flex: 1;

					.selected {
						width: 100%;
					}
				}

				button {
					width: fit-content;
				}
			}

			.contenedorAsignacion {
				display: flex;
				align-items: center;
				align-content: center;
				gap: 1.5rem;
				align-self: stretch;
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 2rem;
			}
		}
	}

	.botonesJuntos {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 1rem;
	}
}

@media screen and (max-width: $max-celular) {
	.contenedorAsignarGradosMaterias {
		.crear {
			.formulario {
				.selectorGrado,
				.selecciones {
					gap: 1.5rem;
					.selector,
					.seleccion {
						width: 50%;
						min-width: 1rem;
						max-width: 100%;
					}
				}
			}
		}
		.lista {
			.informacion {
				.filtros {
					display: flex;
					width: 100%;
					align-items: flex-end;
					gap: 2.75rem;
					align-self: stretch;
					flex-wrap: wrap;

					.custom-select {
						width: 40%;

						p {
							width: 100%;
						}

						input {
							width: 100%;
						}
					}

					.custom-select {

						min-width: 8.5rem;
					}

					button {
						width: fit-content;
					}
				}
			}
		}
	}
}
