@import '../../../global.scss';

.contenedorObservacionesEst{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    .observaciones{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        .filtros{
            display: flex;
            width: 100%;
            align-items: flex-end;
            gap: 2.75rem;
            align-self: stretch;
            flex-wrap: wrap;

            button{
                width: fit-content;
            }

        }

        .fondo{
            background-color: var(--contraste-blanco);
            padding: 1rem;
            border-radius: var(--radio1);
        }

        .fuerte{
            color: var(--colorPrincipal);
        }
    }
}

.dark{

    .contenedorObservacionesEst{

        .observaciones{

            .fondo{
                background-color: var(--dark-super-negro);
            }
    
            .fuerte{
                color:  var(--dark-azul);
            }
        }
    }

}