@use '../../variables.scss' as *;

.contenedorLogin {
	display: flex;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	.pagLogin {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		align-self: stretch;
		background-color: var(--fondo);

		.izq {
			display: flex;
			width: 100%;
			max-width: 50%;
			padding: 2rem 2rem;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			background: var(--colorSecundario);
			height: 100%;
			max-height: 100vh;
			max-height: 100dvh;

			.imagen_logo {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				height: 100%;
				margin-bottom: 2rem;
				gap: 10px;
				padding-top: 5%;
				max-height: 100%;
				overflow: hidden;

				.contenedorPoster {
					display: flex;
					height: 100%;
					width: 100%;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					max-height: 70%;

					.img_login {
						width: 100%;
						height: 100%; // Esto mantiene la relación de aspecto de la imagen
						object-fit: contain; // Ajusta la imagen sin deformarla
						object-position: center;
					}
				}

				.info {
					display: flex;
					height: 100%;
					width: 100%;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					gap: 10px;
					max-height: 30%;
					.logo {
						width: 100%;
						height: 40%; // Esto mantiene la relación de aspecto de la imagen
						object-fit: contain; // Ajusta la imagen sin deformarla
						object-position: left;
					}
				}
			}
		}

		.der {
			display: flex;
			width: 100%;
			padding: 1.5rem 4.5rem;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			max-height: 100vh;
			max-height: 100dvh;
			//align-self: stretch;

			.btnDemo {
				width: 100%;
				height: 100%;
				padding: 0.6rem;
				max-height: 4rem;
			}

			.linea {
				margin: 0.5rem 0;
			}

			.title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				height: fit-content;
				//max-height: 20%;
				padding: 10px;
			}

			.Form_login {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: fit-content;
				//max-height: 60%;
				gap: 25px;
				padding: 0.6rem;
				overflow-y: auto;
			}

			.inputs {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 100%;
				max-height: 100%;
				//overflow: hidden;
			}

			.lato_1 {
				display: flex;
				justify-content: flex-end;
				color: color-mix(in srgb, var(--colorPrincipal) 60%, rgb(255, 255, 255));
				cursor: pointer;

				&:hover {
					color: var(--colorPrincipal);
				}
			}

			.contenedorDemo {
				display: none;
			}
		}

		.Form_login::-webkit-scrollbar {
			display: none;
		}
	}

	&.demoView {
		.pagLogin {
			.der {
				.title {
					display: none;
				}

				.Form_login {
					display: none;
				}

				.contenedorDemo {
					display: flex;
					width: 100%;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 2rem;
					height: 100%;
					max-height: 100vh;
					max-height: 100dvh;
					overflow-y: auto;

					.contenedorPildoraG {
						height: 4rem;
					}
				}
			}
		}
	}
}

.dark {
	.contenedorLogin {
		background-color: var(--dark-negro);

		.pagLogin {
			background-color: var(--dark-negro);

			.izq {
				background: var(--dark-super-negro);
			}

			.der {
				background-color: var(--dark-negro);
				.lato_1 {
					color: var(--dark-contraste-azul);

					&:hover {
						color: var(--dark-azul);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $max-celular) {
	.contenedorLogin {
		all: unset;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		height: 100dvh;
		max-height: 100%;

		.pagLogin {
			display: flex;
			flex-direction: column;
			max-height: 100%;
			align-self: stretch;
			background: var(--colorSecundario);
			//height: 100vh;
			//min-height: 100vh;
			//overflow-y: auto;

			.izq {
				display: flex;
				width: 100%;
				max-width: 100%;
				// height: 100%;
				height: auto;
				max-height: 30%;
				padding: 1.2rem 1.2rem;
				padding-bottom: 1.5rem;
				align-items: center;
				gap: 10px;
				align-self: stretch;
				background: var(--colorSecundario);
				//padding-bottom: 5rem;

				.imagen_logo {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					gap: 10px;
					margin: 0;
					padding: 0;
					max-height: 100%;

					.contenedorPoster {
						display: none;
						visibility: hidden;
						.img_login {
							display: none;
							height: 40%;
							width: 40%;
							max-height: 100%;
						}
					}

					.info {
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 10px;
						height: fit-content;
						max-height: 100%;

						.logo {
							width: 100%;
							padding: 0.2rem;
							object-fit: contain;
							object-position: center;
							max-height: 34%;
							display: flex;
							align-items: flex-start;
						}
					}
				}
			}

			.der {
				display: flex;
				width: 100%;
				height: 70%;
				max-height: 72%;
				flex-grow: 1;
				padding: 1.2rem 1.2rem;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				//align-self: stretch;
				flex-shrink: 0;
				background-color: var(--fondo);
				border-top-left-radius: 2rem;
				border-top-right-radius: 2rem;
				position: relative;
				margin-top: -2rem; // Ajusta según cuánto quieras que se solape
				z-index: 1; // Asegura que esté por encima de .izq
				box-shadow: 0px -5px 11px rgba(170, 167, 167, 0.548);
				overflow-y: auto;
				.title {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 100%;
					height: fit-content;
					max-height: 25%;
					overflow: hidden;
					padding: 10px;
				}

				.Form_login {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 100%;
					height: fit-content;
					gap: 25px;
					padding: 0.6rem;
					max-height: 90%;
				}

				.btnDemo {
					width: 100%;
					height: 100%;
					padding: 0;
					max-height: 2.5rem;
				}

				.inputs {
					display: flex;
					flex-direction: column;
					gap: 15px;
					width: 100%;
				}

				.inputs input {
					padding: 20px;
				}

				.lato_1 {
					display: flex;
					justify-content: flex-end;
					color: color-mix(in srgb, var(--colorPrincipal) 60%, rgb(255, 255, 255));
					cursor: pointer;

					&:hover {
						color: var(--colorPrincipal);
					}
				}
			}
		}

		&.demoView {
			.pagLogin {
				.der {
					.contenedorDemo {
						justify-content: flex-start;
					}
				}
			}
		}
	}
}
