@import '../../global.scss';
@import '../../variables.scss';

//Estilos Login
.contenedorLogin{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .pagLogin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        align-self: stretch;
        background-color: var(--fondo);

        .izq{
            
            display: flex;
            width: 100%;
            padding: 98px 74px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background: var(--colorSecundario);
        
        }
            .imagen_logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin-bottom: 15%;
                gap: 10px;
                padding-top: 5%;
            }
                .img_login{
                    height: 60%;
                    width: 65%;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items:flex-start ; 
                    gap: 10px;
                }


          

        .der{
        
            display: flex;
            width: 100%;
            padding:  90px 96px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-self: stretch;
                
            .title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 40%;
                padding: 10px;
            }
            

                .Form_login{
                   
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    gap: 25px;
                    padding: 10px;

                }

                    .inputs{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        width: 100%;
                    }

                   .inputs input{
                    padding: 20px;
                   }

                    .lato_1{
                        display: flex;
                        justify-content: flex-end;
                        color: color-mix(in srgb, var(--colorPrincipal) 60%, rgb(255, 255, 255));
                        cursor: pointer;
                        
                        &:hover{
                            color:var(--colorPrincipal);
                        }
                    }
            
        }
    }
}

.dark{
    .contenedorLogin{

        background-color: $dark-negro;
    
        .pagLogin{

            background-color: $dark-blanco;
    
            .izq{
                background: $dark-super-negro;
            }

            .der{
                background-color: $dark-negro;
                .lato_1{
                    color: $dark-contraste-azul;

                    &:hover{
                        color: $dark-azul;
                        }
                    }
            }
        }
    }
}

@media screen and (max-width: $max-celular){
    .contenedorLogin{
        all: unset;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
    

        .pagLogin{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-self: stretch;
            background-color: var(--fondo);
            //height: 100vh;
            max-height: 100dvh;
            //min-height: 100vh;
            //overflow-y: auto;
    
            .izq{
                
                display: flex;
                width: 100%;
                // height: 100%;
                height: 100%;
                padding: 1.5rem 2rem;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                background: var(--colorSecundario);
                padding-bottom: 5rem;
                max-height: fit-content;

            
            }
                .imagen_logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    gap: 10px;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                }
                    .img_login{
                        display: none;
                        height: 40%;
                        width: 40%;
                    }
    
                    .info{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items:flex-start ; 
                        gap: 10px;

                        .logo{
                            width: 100%;
                        }
                    }
    
    
            .der{
                display: flex;
                width: 100%;
                height: 100%;
                padding:  1.5rem 2rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-self: stretch;
                flex-shrink: 0;
                background-color: var(--fondo);
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                position: relative;
                margin-top: -2rem; // Ajusta según cuánto quieras que se solape
                z-index: 1; // Asegura que esté por encima de .izq
                box-shadow:  0px -10px 11px rgba(170, 167, 167, 0.548);
                min-height: fit-content;

                .title{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    height: fit-content;
                    padding: 10px;
                }
                
    
                    .Form_login{
        
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 100%;
                        height: 100%;
                        gap: 25px;
                        padding: 10px;
    
                    }
    
                        .inputs{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            width: 100%;
                        }
    
                       .inputs input{
                        padding: 20px;
                       }
    
                        .lato_1{
                            display: flex;
                            justify-content: flex-end;
                            color: color-mix(in srgb, var(--colorPrincipal) 60%, rgb(255, 255, 255));
                            cursor: pointer;
                            
                            &:hover{
                                color:var(--colorPrincipal);
                            }
                        }
                
            }
        }
    }
}