@import '../../global.scss';

//Estilos del componente por defecto azul
.logoContenedor{
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    color: $azul;
    cursor: pointer;

    //Estilos para el logo
    .logoPrae{
        width: 2.4rem;
        position: relative;
        height: 2.4rem;
        
    }

    //Aplicar color Morado
    .morado{
        color: $morado
    }

    //Aplicar color Amarillo
    .amarillo{
        color: $amarillo
    }
}