@import '../../global.scss';

//Estilos del componente por defecto azul
.logoContenedor{
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    cursor: pointer;


    p{
        color: $azul;

        &.texto{
            color: var(--colorPrincipal);
        }
    }

    

    //Estilos para el logo
    .logoPrae{
        width: 2.4rem;
        position: relative;
        height: 2.4rem;
        
    }

    // //Aplicar color Morado
    // .morado{
    //     color: var(--colorPildora2);
    // }

    // //Aplicar color Amarillo
    // .amarillo{
    //     color: var(--colorPildora3);
    // }
}

.dark{
    .logoContenedor{
        color: $dark-azul;
    
    
        //Aplicar color Morado
        .morado{
            color: $dark-morado
        }
    
        //Aplicar color Amarillo
        .amarillo{
            color: $dark-amarillo
        }
    }
}