@use '../../variables.scss' as *;
.contenedorNavBarItem {
	width: 100%;
	border-radius: var(--radio1);
	background-color: var(--colorSecundario);
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 1rem;
	text-align: left;
	position: relative;
	cursor: pointer;
	//min-height: 2.87rem;
	height: 2.5rem;
	max-height: 2.87rem;

	//Estilos logo y texto
	.etiqueta {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		opacity: 0.5;
		position: relative;

		.logoNav {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.8rem;
			height: 1.8rem;
		}

		.texto {
			color: var(--colorPrincipal);
			word-break: break-word; //salto de linea en caso de exceder el contenedor
		}
	}

	//Estilos para el Hover
	&:hover {
		outline: 0.0625rem solid var(--colorPrincipal);
		background-color: color-mix(in srgb, var(--colorPrincipal) 20%, rgb(255, 255, 255));

		.etiqueta {
			opacity: 1;

			.logo,
			.texto {
				color: var(--colorPrincipal);
			}
		}
	}

	//Estilo cuando el menu este activo
	&.activar {
		outline: 0.0625rem solid var(--colorPrincipal);
		background-color: color-mix(in srgb, var(--colorPrincipal) 20%, rgb(255, 255, 255));

		.etiqueta {
			opacity: 1;

			.logo,
			.texto {
				color: var(--colorPrincipal);
			}
		}
	}
}

//Estilos cuando es tipo existe (solo es nombre e iluminacion)
.tipo-existe {
	width: 100%;
	border-radius: var(--radio1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	text-align: left;
	position: relative;
	outline: 0.0625rem solid var(--colorPrincipal);
	background-color: color-mix(in srgb, var(--colorPrincipal) 20%, rgb(255, 255, 255));

	//Estilo letra
	.etiqueta {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		opacity: 1;
		position: relative;

		.logo {
			width: 1.8rem;
			height: 1.8rem;
		}

		.texto {
			word-break: break-word; //salto de linea en caso de exceder el contenedor
			text-align: center;
		}

		.logo,
		.texto {
			color: var(--colorPrincipal);
		}
	}

	//colores
	// &.amarillo{
	//     outline: 0.0625rem solid var(--colorPildora3);;
	//     background-color: color-mix(in srgb, var(--colorPildora3) 20%, rgb(255, 255, 255));

	//     .logo, .texto{
	//         color: var(--colorPildora3);

	//     }
	// }
}

.dark {
	//Estilos del componente cuando es NavBarItemn
	.contenedorNavBarItem {
		background: none;

		.etiqueta {
			.logoNav,
			.texto {
				color: var(--dark-azul);

				.normal {
					fill: var(--dark-azul);
				}

				.normal[stroke] {
					fill: none;
					stroke: var(--dark-azul);
				}
			}
		}

		//Estilos para el Hover
		&:hover {
			outline: 0.0625rem solid var(--dark-azul);
			background-color: var(--dark-contraste-azul);

			.etiqueta {
				opacity: 1;

				.logoNav,
				.texto {
					color: var(--dark-azul);

					.colorear {
						fill: var(--dark-azul);
					}

					.colorear[stroke] {
						fill: none;
						stroke: var(--dark-azul);
					}
				}
			}
		}

		//Estilo cuando el menu este activo
		&.activar {
			outline: 0.0625rem solid var(--dark-azul);
			background-color: var(--dark-contraste-azul);

			.etiqueta {
				opacity: 1;

				.logoNav,
				.texto {
					color: var(--dark-azul);

					.colorear {
						fill: var(--dark-azul);
					}

					.colorear[stroke] {
						fill: none;
						stroke: var(--dark-azul);
					}
				}
			}
		}
	}

	//Estilos cuando es tipo existe (solo es nombre e iluminacion)
	.tipo-existe {
		outline: 0.0625rem solid var(--dark-azul);
		background-color: var(--dark-contraste-azul);

		//Estilo letra
		.etiqueta {
			.logoNav,
			.texto {
				color: var(--dark-azul);
			}
		}

		// //colores
		// &.amarillo{
		//     outline: 0.0625rem solid var(--dark-amarillo);
		//     background-color: var(--dark-contraste-amarillo);

		//     .logo, .texto{
		//         color: var(--dark-amarillo);

		//     }
		// }
	}
}

@media screen and (max-width: $max-celular){
	.contenedorNavBarItem{
		height: 2.85rem;
	}
}
