@import '../../global.scss';

//Estilos de la NavBar
.contenedorNavBar{
    background-color: var(--colorSecundario);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.25rem 0.625rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    
    //Estilos del menu Superior
    .menuSuperior{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;

        .tituloSuperior{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            width: 100%;
            
        }

        .iconoTheme{
            display: flex;
            align-items: center;
        }

        .itemBar{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            align-self: stretch;
        }
    }

    .linea{
        background-color: var(--colorPrincipal);  /* El color de la línea */
        opacity: 0.3;
        width: 100%;             /* Ocupa todo el ancho del contenedor */
        height: 1px;             /* Define el grosor de la línea */
        border-radius: 10rem;
    }

    .iconoTheme{
        cursor: pointer;
    }

}

.dark{
    .contenedorNavBar{
        background-color: $dark-super-negro;

        .linea{
            background-color: $dark-blanco;
        }
    }
}