@import '../../global.scss';
@import '../../variables.scss';

//Estilos del componente
.contenedorPildoraG{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $radio2;
    box-shadow: 0px 4px 11px #00000033;
    flex-direction: column;
    overflow: hidden;
    padding: 0.625rem 0.75rem;
    position: relative;
    width: 100%;
    text-align: center;

    .materia{
        width: 100%;
        position: relative;
    }

    

    h4{
        color: color-mix(in srgb, var(--colorPildora1) 10%, rgb(255, 255, 255));
        font-weight: bold;
        margin: 0;
        word-wrap: break-word;
    }

    &.docente{


        .materia{
            align-items: center;
            display: inline-flex;
            justify-content: center;
            width: 100%;

            h4{
                position: relative;
                text-align: center;
                width: fit-content;
                max-width: 13rem;
            }
        }
    }

    background-color: var(--colorPildora1);
    
    
    //colores
    &.morado {
        background-color: var(--colorPildora2);
        h4{
            color: color-mix(in srgb, var(--colorPildora2) 10%, rgb(255, 255, 255));
        }
    }
    
    &.amarillo {
        background-color: var(--colorPildora3);
        h4{
            color: color-mix(in srgb, var(--colorPildora3) 10%, rgb(255, 255, 255));
        }
    }

    .elipse1, .elipse2{
        background-color: $blanco;
        border-radius: 119.5px;
        height: 239px;
        left: -190px;
        opacity: 0.1;
        position: absolute;
        top: -160px;
        width: 239px;
    }

    .elipse2{
        left: 50px;
        opacity: 0.05;
        top: -20px;
        
    }

    //colores hover
    &:hover{
        cursor: pointer;
        background-color: color-mix(in srgb, var(--colorPildora1) 20%, rgb(255, 255, 255));
        
        h4{
            color: var(--colorPildora1);
        }

        .elipse1, .elipse2{
            background-color: var(--colorPildora1);
        }

        &.morado {
            background-color: color-mix(in srgb, var(--colorPildora2) 20%, rgb(255, 255, 255));
            

            h4{
                color: var(--colorPildora2);
            }
    
            .elipse1, .elipse2{
                background-color: var(--colorPildora2);
            }
        }

        &.amarillo {
            background-color: color-mix(in srgb, var(--colorPildora3) 20%, rgb(255, 255, 255));
            
            h4{
                color: var(--colorPildora3);
            }
    
            .elipse1, .elipse2{
                background-color: var(--colorPildora3);
            }
        }
    }
}

.dark{
    .contenedorPildoraG{

        box-shadow: 0px 4px 11px $dark-super-negro;

        h4{
            color: $dark-blanco;
        }
    
        background-color: $dark-azul;
        color: $dark-contraste-azul;
        
        //colores
        &.morado {
            background-color: $dark-morado;
            color: $dark-contraste-morado;
        }
        
        &.amarillo {
            background-color: $dark-amarillo;
            color: $dark-contraste-amarillo;
        }
    
        .elipse1, .elipse2{
            background-color: $dark-blanco;

        }
    
        //colores hover
        &:hover{

            background-color: $dark-contraste-azul;
            
            h4{
                color: $dark-azul;
            }
    
            .elipse1, .elipse2{
                background-color: $dark-azul;
            }
    
            &.morado {
                background-color: $dark-contraste-morado;
                color: $dark-morado;
    
                h4{
                    color: $dark-morado;
                }
        
                .elipse1, .elipse2{
                    background-color: $dark-morado;
                }
            }
    
            &.amarillo {
                background-color: $dark-contraste-amarillo;
                color: $dark-amarillo;
    
                h4{
                    color: $dark-amarillo;
                }
        
                .elipse1, .elipse2{
                    background-color: $dark-amarillo;
                }
            }
        }
    }
}

@media screen and (max-width: $max-celular){
    .contenedorPildoraG{

        &.docente{
            
            height: auto;
    
            .materia{
                align-items: center;
                display: inline-flex;
                justify-content: center;
                width: 100%;
    
                h4{
                    position: relative;
                    text-align: center;
                    width: fit-content;
                    
                }
            }
        }
    }
}

