@import '../../global.scss';

.linea{
    width: 100%;
    height: .5rem;
    background-color: var(--colorSecundario);
    border-radius: $radio2;
}

.dark{
    .linea{
        background-color: $dark-contraste-negro;
    }
}