@import '../../global.scss';

//Estilos para el Input Container
.input-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    //height: 5.375rem;
    

    //Estilo del titulo
    & .input-title{
        opacity: 50%;
    }

    //Estilo del titulo cuando esta activo
    .input-title.focused {
        opacity: 100%;
        color: var(--colorPrincipal);
    }

    //Estilo del input
    & .input-field {
        
        background: var(--colorSecundario);
        border: none;
        border-radius: $radio1;
        overflow: hidden;
        padding: 0.875rem 1.25rem;

        width: 100%;

        &::placeholder {
            opacity: 50%;
            font-family: 'Lato', sans-serif; 
            font-size: 1rem;
        }

        &:focus{
            outline: 0.0625rem solid var(--colorPrincipal);;
        }

    }

    //Estilo del Input container cuando se hace hover.
    &.siHover{
        &:hover{
            & .input-title{
                opacity: 100%;
            }
        }
    }

}

.dark{
    .input-container {

        //Estilo del titulo cuando esta activo
        .input-title.focused {
            
            color: $dark-azul;
        }
    
        //Estilo del input
        & .input-field {
            color: $dark-blanco;
            background: $dark-super-negro;
    
            &:focus{
                background: $dark-contraste-negro;
                outline: 0.0625rem solid $dark-super-negro;
            }
    
        }
    
    }
}