.input-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5rem;
	max-height: 100%;

	.agruparInput {
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;

		.logoOjo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.8rem;
			height: 1.8rem;
			position: absolute;
			margin: 0 !important;
			top: calc(50% - 0.8rem);
			right: 0.5rem;
			z-index: 1;

			&:hover {
				cursor: pointer;
			}

			.normal {
				stroke: var(--colorPrincipal);
				fill: var(--colorPrincipal);
			}

			.ojo {
				stroke: var(--colorPrincipal);
			}
		}
	}

	//Estilo del titulo
	& .input-title {
		opacity: 50%;
	}

	//Estilo del titulo cuando esta activo
	.input-title.focused {
		opacity: 100%;
		color: var(--colorPrincipal);
	}

	//Estilo del input
	& .input-field {
		background: var(--colorSecundario);
		border: none;
		border-radius: var(--radio1);
		overflow: hidden;
		padding: 0.875rem 1.25rem;
		max-height: 100%;

		width: 100%;

		font-size: 1rem;

		&.contra {
			padding-right: 2.5rem !important;
		}

		&::placeholder {
			opacity: 50%;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
		}

		&:focus {
			outline: 0.0625rem solid var(--colorPrincipal);
		}

		input[type='password'] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-image: none !important;
			display: none;
		}

		/* Forzar que el input no muestre el ojo por defecto */
		input[type='password']:focus {
			display: none;
			outline: none; /* Para quitar el contorno predeterminado */
			background-image: none !important; /* Eliminar imagen */
		}
	}

	//Estilo del Input container cuando se hace hover.
	&.siHover {
		&:hover {
			& .input-title {
				opacity: 100%;
			}
		}
	}
}

.dark {
	.input-container {
		//Estilo del titulo cuando esta activo
		.input-title.focused {
			color: var(--dark-azul);
		}

		//Estilo del input
		& .input-field {
			color: var(--dark-blanco);
			background: var(--dark-super-negro);

			&:focus {
				background: var(--dark-contraste-negro);
				outline: 0.0625rem solid var(--dark-super-negro);
			}
		}

		.logoOjo {
			.normal {
				stroke: var(--dark-azul);
				fill: var(--dark-azul);
			}

			.ojo {
				stroke: var(--dark-azul);
			}
		}
	}
}
