.graficoTortaData {
	overflow: visible !important;

	.recharts-responsive-container {
		.recharts-wrapper {
			display: flex !important;
			justify-content: center !important;
			align-items: center !important;
			overflow: visible !important;

			.recharts-surface {
				width: 100% !important;
				height: 100% !important;
				overflow: visible !important;

				// .graficoPie{
				//     .recharts-sector{
				//         stroke: red;

				//     }

				// }
			}
		}
	}
}

.dark {
	&.graficoTortaData {
		.graficoPie {
			fill: var(--dark-azul-pildora);

			.recharts-sector {
				stroke: var(--dark-negro);
			}

			.graficoRender {
				.graficoTorta-label {
					fill: var(--dark-morado);
				}

				.graficoTorta-sector {
					fill: var(--dark-morado);
				}

				.graficoTorta-linea {
					stroke: var(--dark-morado);
				}

				.graficoTorta-circle {
					fill: var(--dark-morado);
				}

				.graficoTorta-value,
				.graficoTorta-percent {
					fill: var(--dark-amarillo);
				}
			}
		}
	}
}
