.graficoRadar {
	.recharts-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.recharts-surface {
		width: 100% !important;
		overflow: hidden;
	}

	.radiusAxis {
		stroke: var(--colorPildora2);
	}

	.recharts-text {
		&.recharts-polar-radius-axis-tick-value {
			fill: var(--colorPildora2);
			font-size: 0.7rem;
		}

		&.recharts-polar-angle-axis-tick-value {
			fill: var(--colorPildora3);
			font-size: 0.6rem;
		}
	}

	.figuraRadar {
		fill: var(--colorPildora2);
		stroke: var(--colorPildora2);
	}

	.gridRadar {
		stroke: var(--colorPildora2);
		opacity: 0.5;
	}

	&.dark {
		.figuraRadar {
			fill: var(--dark-morado);
			stroke: var(--dark-morado);
		}

		.gridRadar {
			stroke: var(--dark-morado);
		}

		.radiusAxis {
			stroke: var(--dark-morado);
		}

		.recharts-text {
			&.recharts-polar-radius-axis-tick-value {
				fill: var(--dark-morado);
			}

			&.recharts-polar-angle-axis-tick-value {
				fill: var(--dark-amarillo);
			}
		}
	}
}
