@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//variables de colores
$azul: #157AFE;
$contraste-azul: #E4EBF5;
$morado: #4946E2;
$contraste-morado: #D6D6ED;
$amarillo: #EF9131;
$contraste-amarillo: #F2E4D5;
$blanco: #FFFFFF;
$contraste-blanco: #F5F7F9;
$rojo: #BF786D;
$contraste-rojo: #a37b75;

$radio1: 0.5rem;
$radio2: 0.875rem;
$radio3: 1.625rem;
$radio4: 2rem;


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: $blanco;
    margin: 0;
}

//Estilos de letra (ROBOTO por defecto)
h1 {
    font-size: 3rem; /* 48px */
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.25rem; /* 36px */
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.875rem; /* 30px */
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.5rem; /* 24px */
    padding: 0;
    margin: 0;
}

p {
    font-size: 1rem; /* 16px */
    padding: 0;
    margin: 0;
    overflow-wrap: break-word; 
}

//Volverlos negrilla
.bold {
    font-weight: bold; /* Cambiar a negrita */
}

//Cambiar tipografia
.lato{
    font-family: 'Lato', sans-serif; 
}

.inter{
    font-family: 'Inter', sans-serif; 
}

//Estilos del Booton
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $azul;
    border: none;
    border-radius: $radio1;
    padding: 0.9375rem 1.25rem;
    cursor: pointer;

    font-size: 1rem; /* 16px */;
    font-family: 'Lato', sans-serif;
    color: $blanco;

    opacity: 80%;

    &:hover{
        cursor: pointer;
        opacity: 100%;
        box-shadow: 0px 4px 10px $azul;
    }

    &.rojo{
        background-color: $contraste-rojo;

        &:hover{
            background-color: $rojo;
            opacity: 100%;
            box-shadow: 0px 4px 10px $rojo;
        }
    }
}

//Estilos de la navegacion
.App{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
    margin: 0;

    //Ocupa un pedazo de la pantalla
    .navbar {
        width: 16.8125rem;
        min-width: 16.8125rem;
        max-height: 100%;
        padding: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        top: 0;
    }

    //Ocupa lo restante y scroll
    .main-content {
        width: 100%;
        padding: 24px 96px;
        background-color: $blanco;
        max-height: 100%;
        overflow: auto;
    }

    //Si es el login toda la pantalla
    .completo{
        width: 100%;
        height: 100vh;
    }
}



.prueba{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}

