@use '../../../variables.scss' as *;

.contenedorObservaciones {
	display: flex;
	padding: 0rem 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 3.0625rem;
	align-self: stretch;

	.informacion {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
		align-self: stretch;

		.filtros {
			display: flex;
			width: 100%;
			align-items: flex-end;
			gap: 2.75rem;
			align-self: stretch;
			flex-wrap: wrap;

			button {
				width: fit-content;
			}

			.input-container {
				max-width: fit-content;
			}
		}

		.materias {
			display: flex;
			align-items: center;
			align-content: center;
			gap: 1.5rem;
			align-self: stretch;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: $max-celular) {
	.contenedorObservaciones {
		padding: 0rem 0.5rem;
		.informacion {
			.materias {
				justify-content: center;
			}
		}
	}
}
