@use '../../../variables.scss' as *;

.contenedorObservaciones {
	display: flex;
	padding: 0rem 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 3.0625rem;
	align-self: stretch;

	.informacion {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
		align-self: stretch;

		.btnCargarMas {
			width: fit-content;
			align-self: center;
		}

		.filtros {
			display: flex;
			width: 100%;
			align-items: flex-end;
			gap: 2.75rem;
			align-self: stretch;
			flex-wrap: wrap;

			button {
				width: fit-content;
			}

			.input-container {
				width: 50%;
				min-width: 12.5rem;
				flex: 1;
			}

			.custom-select {
				width: 50%;
				min-width: 12.5rem;
				flex: 1;

				.selected {
					width: 100%;
				}
			}
		}

		.materias {
			display: flex;
			align-items: center;
			align-content: center;
			gap: 1.5rem;
			align-self: stretch;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media screen and (max-width: $max-celular) {
	.contenedorObservaciones {
		padding: 0rem 0.5rem;
		.informacion {

			.filtros {
				.input-container {
					width: 25%;
					min-width: 8.5rem;
				}

				.custom-select {
					width: 25%;
					min-width: 8.5rem;
				}
			}
		}
	}
}
