@import '../../global.scss';


//Estilos de la pildora
.pildoraEst{

    .nombre{
        text-align: center;
        color: $blanco;
    }

    background-color: $azul;
    color: $contraste-azul;
    

    //colores
    &.morado {
        background-color: $morado;
        color: $contraste-morado;
    }

    &.amarillo {
        background-color: $amarillo;
        color: $contraste-amarillo;
    }
    
    &.grande{
        align-items: center;
        justify-content: center;
        border-radius: $radio3;
        box-shadow: 0px 4px 11px #00000033;
        display: inline-flex;
        overflow: hidden;
        padding: 1.5rem;
        position: relative;
        max-width: 11rem;

        h4{
            color: $blanco;
            font-weight: bold;
            margin: 0;
            font-size: 3rem;
            letter-spacing: 0;
            line-height: normal;
            position: relative;
            width: fit-content;
            
        }

        .contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            gap: 10px;
            position: relative;
            width: 100%; 
        }

        .elipse1, .elipse2{
            background-color: $blanco;
            border-radius: 119.5px;
            height: 239px;
            left: -100px;
            opacity: 0.05;
            position: absolute;
            top: -100px;
            width: 239px;
        }

        .elipse2{
            left: 50px;
            opacity: 0.1;
            position: absolute;
            top: 50px;
        }
    }

    //Estilos si es peque
    &.peque{
        display: inline-flex;
        border-radius: $radio2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0.625rem 0.75rem;
        position: relative;
        width: fit-content;
        //width: 13rem;
        height: 3.5rem;

        .contenedor{
            align-items: center;
            display: inline-flex;
            flex: 0 0 auto;
            gap: 26px;
            justify-content: center;
            position: relative;

            .curso{
                position: relative;
                white-space: nowrap;
                width: fit-content;
                color: $blanco;
            }

            .nombre{
                position: relative;
                text-align: center;
                width: fit-content;
                max-width: 9rem;
            }
        }
        

        .elipse1, .elipse2{
            background-color: #ffffff;
            border-radius: 119.5px;
            height: 239px;
            left: 140px;
            opacity: 0.1;
            position: absolute;
            top: -95px;
            width: 239px;
        }

        .elipse2{
            left: 150px;
            opacity: 0.05;
            position: absolute;
            top: -95px;
        }

        //Estilos Hover
        &:hover{
            cursor: pointer;
            background-color: $contraste-azul;
            
            .nombre, .curso{
                color: $azul;
            }
    
            .elipse1, .elipse2{
                background-color: $azul;
            }
    
            &.morado {
                background-color: $contraste-morado;
                color: $morado;
    
                .nombre, .curso{
                    color: $morado;
                }
        
                .elipse1, .elipse2{
                    background-color: $morado;
                }
            }
    
            &.amarillo {
                background-color: $contraste-amarillo;
                color: $amarillo;
    
                .nombre, .curso{
                    color: $amarillo;
                }
        
                .elipse1, .elipse2{
                    background-color: $amarillo;
                }
            }
        }
    }
}